.title {
    font-size: 30px;
    font-weight: bold;
  }

  .box-header {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0px 15px 20px;
  }

  .box-header-sc {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
  }

  .box-subheader {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
  }

  .list-box-users {
    background-color: #EBECF0;
    border-radius: 16px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 150px;
  }
  
  .list-box-recipes {
    background-color: #EBECF0;
    border-radius: 16px;
    display: flex;
    min-height: 200px;
  }
  
  .box-empty {
    border: solid 2px #c1c2c7;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .list-box-general {
    background-color: #EBECF0;
    border-radius: 16px;
    display: flex;
  }

  .add-button {
    display: flex;
    align-items: center;
    border-radius: 16px;
    margin: 10px;
    width: 150px;
    justify-content: center;
  }

  .recipe {
    width: 850px;
    background-color: #fcfaf8;
    position: relative;
  }

  .recipe::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border: 1px solid lightgray;
    border-radius: 2;
    pointer-events: none;
    margin: -10px;
  }
  